@font-face {
    font-family: Ubuntu;
    src: url('./assets/fonts/Ubuntu-Regular.ttf');
}
@font-face {
    font-family: Ubuntu;
    src: url('./assets/fonts/Ubuntu-Bold.ttf');
    font-weight: 700;
}
@font-face {
    font-family: Ubuntu;
    src: url('./assets/fonts/Ubuntu-Medium.ttf');
    font-weight: 500;
}
html {
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    font-family: Ubuntu, serif;
    background: cornflowerblue;
}
.container {
    background: white;
    box-shadow: 0px 5px 10px 0px rgba(66, 68, 90, 0.35);
    border-radius: 10px;

    display: flex;
}
.sidebar {
    border-radius: 10px;
    overflow: hidden;
    background: blue;
}
.steps {
    display: grid;
    gap: 20px;
}
.step {
    counter-increment: step;
    display: flex;
    text-transform: uppercase;
    color: white;
}
.step::before {
    content: counter(step);
    display: grid;
    place-items: center;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    font-weight: 700;
    border: 1px solid white;
    border-radius: 9999px;
}
.step.active::before {
    color: darkblue;
    background: cornflowerblue;
}
.step-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.step-text::before {
    content: 'Step ' counter(step);
    color: whitesmoke;
}
.step-title {
    font-weight: 700;
    letter-spacing: 1pt;
}
form {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 40px 60px 20px;
}
fieldset {
    border: none;
}
h1 {
    margin: 0 0 20px;
    font-weight: 700;
    color: darkblue;
}
h2 {
    color: lightslategray;
    margin: 0 0 40px;
}
button {
    border: none;
    font: inherit;
}
input {
    font: inherit;
}
label {
    cursor: pointer;
}
.step-container {
    flex: 1;
    display: flex;
    overflow: hidden ;
}
.step-content {
    margin: 0;
    padding: 0;
    width: 100%;
    flex-shrink: 0;
    transition: opacity 400ms, transform 400ms;
}
.step-content:not(.active) {
    visibility: hidden;
    opacity: 0;
    transform: translateX(100%);
}
.nav-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
}
.back-btn {
    background: transparent;
    padding: 0;
    color: lightslategray;
}
.next-btn {
    padding: 10px 20px;
    color: white;
    background: darkblue;
    border-radius: 5px;
}
.personal-info-label {
    display: block;
    color: darkblue;
    margin: 0 0 10px;
}
.personal-info-input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 0 0 20px;
    padding: 10px;
    font-weight: 700;
    border: 1px solid lightslategray;
    border-radius: 4px;
}
.personal-info-input::placeholder {
    color: lightslategray;
}
.plans {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 20px;
}
.plan-checkbox,
.biling-checkbox,
.addon-checkbox {
    position: absolute;
    scale: 0;
}
.plan-label {
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    border-radius: 8px;
    padding: 20px;
}
.plan-checkbox:checked+.plan-label {
    background: lightblue;
    border-color: blueviolet;
}
.biling-label {
    font-weight: 500;
    color: grey;
}
.biling-checkbox:checked+.biling-label {
    color: darkblue;
}
.plan-pay-option {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
    padding: 20px;
    background: lightblue;
    border-radius: 10px;
}
.switch {
    --padding: 8px;
    --height: 20px;
    --width: 40px;
    position: relative;
    width: var(--width);
    height: var(--height);
    margin: 0 20px;
    background: darkblue;
    border-radius: 999px;
}
.switch::before {
    content: '';
    position: absolute;
    top: calc(var(--padding) / 2);
    left: calc(var(--padding) / 2);
    height: calc(var(--height) - var(--padding));
    width: calc(var(--height) - var(--padding));
    background: white;
    border-radius: 999px;
    transition: transform 200ms ease-out;
}
.biling-checkbox:not(:checked)~.switch::before {
    transform: translateX(calc(var(--width) - var(--height)))
}
.addons {
    display: grid;
    gap: 20px;
}
.addon-label {
    display: flex;
    align-items: center;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 10px;
}
.addon-checkbox:checked+.addon-label {
    border-color: blueviolet;
    background: lightblue;
}
.addon-pseudo-checkbox {
    position: relative;
    display: grid;
    place-items: center;
    margin: 0 20px;
    width: 20px;
    height: 20px;
    background: blueviolet;
    border-radius: 5px;
}
.addon-check-svg {
    position: relative;
}
.addon-pseudo-checkbox::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: blueviolet;
    border-radius: 5px;
}
.addon-pseudo-checkbox::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: white;
    border: 1px solid gray;
    border-radius: 5px;
    transition: opacity 200ms ease-out;
}
.addon-checkbox:checked+.addon-label .addon-pseudo-checkbox::after {
    opacity: 0;
}
.addon-text {
    flex: 1;
    display: grid;
    gap: 10px;
}
.addon-title {
    font-weight: 500;
    color: darkblue;
}
.addon-desc {
    color: gray;
}
.addon-cost {
    color: blueviolet;
}
.receipt {
    padding: 20px;
    background: lightblue;
    border-radius: 10px;
}
.total {
    padding: 20px;
}
.confirm-plan,
.confirm-addon,
.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.change-plan-link {
    text-decoration: underline 2px solid;
}
.confirm-text {
    display: grid;
}
.text-gray {
    color: gray;
}
.text-darkblue {
    color: darkblue;
}
.text-violet {
    color: blueviolet;
}
@media screen and (max-width: 375px) {
    .nav-btns {
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        padding: 20px;
    }
}
@media screen and (min-width: 376px) {
    
}
